 *{
    padding: 0;
    margin: 0;
    
 }
 h1{
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    color: #333;
    line-height: 1.2;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: text-animation 2s ease-in-out infinite;
    background-size: 200% 200%;
    animation: gradient-animation 5s ease-in-out infinite;

 }
 .choice{
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    gap: 3rem;
    cursor: pointer;
    text-align: center;
    margin: 20px 0;
    border-end-end-radius: 50%;


 }
 .choice:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 80px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    gap: 3rem;
    cursor: pointer;
    opacity: 
    
    0.8;
 }
 img{
    height: 100%;
    width:108%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    
    
 }
  .choices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    gap: 3rem;
    cursor: pointer;
    text-align: center;
  }
  .Scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    gap: 3rem;
    
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    color: #333;
    line-height: 1.2;

  }
  .msgcontainer{
    display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 20px 0;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: background-color 0.3s ease;
      gap: 3rem;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
    
     
  }